<div class="section_footer" style="padding: 0; padding-bottom: 1rem; margin-top: 0.75rem;">
    <div class="container">
        <p class="copyright_text">
            Copyright 2024 All Right Reserved By Quantum Leap
        </p>
    </div>
    <div class="erasmus_logo" style="display: flex;width: 100%;justify-content: center;"><img
            src="images/erasmus_logo.png" width="20%"></div>
    <div class="social_icon">
        <a target="_blank"
            href="https://m.facebook.com/people/Quantum-Leap-NGO-Luxembourg/100068446113460/?locale=ms_MY"><img
                src="images/fb-icon.png" /></a>
    </div>
</div>
